/* RESET */
* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background-color: #f8f8f6;
}
.container {
  width: 100%;
  margin: 0 auto;
}
/* NAVBAR/HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  font-family: sans-serif;
}
header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}
header a:hover {
  color: #89b09f;
}
#nav-title {
  font-size: 1.5em;
  color: #555;
}
